AddDefaultCharset UTF-8

RewriteEngine on

RewriteBase /thunder/

DirectoryIndex index.php

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^.*$ index.php [NC,L]